@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --red:#ff3838;
}
*{
    font-family: "Nunito", sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background:  var(--red);
    color: #fff;
}
html{
    font: 62.5%;
    /*overflow: hidden;*/
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
body{
    background: #fff;
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 1rem ;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0,.1);
}
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #f7614d;
}
header .navbar a{
    font-size: 1.6rem;
    margin-left: 2rem;
    color: #666;
}
header .navbar a:hover{
    color: var(--red);
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.navbar .dropdown-content a{
    font-size: 1.2rem;
}
.navbar .dropdown-content a:hover{
    color: #ffa939;
}
.dropdown:hover .dropdown-content {
    display: block;
}
#menu-bar{
    font-size: 3rem;
    color: #666;
    cursor: pointer;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}
/*---------------article------------*/
.news-contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}
article{
    width: 25%;
    margin-top: 100px;
}
.sub-title{
    font-size: 1.75rem;
    /*padding: 0 8px 8px;*/
    border-bottom: 2px #0bd solid;
    font-weight: normal;
}
.sub-menu{
    margin-bottom: 25px;
    list-style: none;
}
.sub-menu li{
    border-bottom: 1px #ddd solid;
}
.sub-menu a{
    font-size: 1.4rem;
    color: #432;
    padding: 5px;
    display: block;
    text-decoration: none;
    transition: all 0.5s linear;
}
.sub-menu a:hover{
    color: #0bd;
    font-weight: bold;
}
/*---------------aside--------------*/
aside{
    width: 75%;
    margin-top: 100px;
}
aside h3{
    text-align: center;
    font-size: 2rem;
    margin: 10%;
}
.Burgers tr td{
    width: 50%;
    padding: 2%;
    text-align: center;    
}
.Burgers tr td img{
    max-width: 200px;
}
.Burgers tr td:hover{
    transform:scale(1.2,1.2);
}
.Beverages tr td{
    width: 50%;
    padding: 2%;
    text-align: center;    
}
.Beverages tr td img{
    width: 200px;
}
.Beverages tr td:hover{
    transform:scale(1.2,1.2);
}
.Snakes tr td{
    width: 50%;
    padding: 2%;
    text-align: center;    
}
.Snakes tr td img{
    width: 200px;
}
.Snakes tr td:hover{
    transform:scale(1.2,1.2);
}
/*--------------footer-------------*/
footer{
    background-color: rgb(123, 64, 5);
    margin-top: 5%;
    text-align: center;
    padding: 20px 0;
}
footer p{
    color: #fff;
    font-size: 1.2rem;
}

/*---------響應式---------*/
@media(max-width:995px){
    html{
        font-size: 60%;
    }
    header{
        padding: 2rem;
    }
}
@media(max-width:768px){
    #menu-bar{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0,.1);
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
        &.active{
            clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        }
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0,.1);
        border-left: .5rem solid var(--red);
        background: #fff;
    }
}